/* Import here all scss files */
/* Put your scss variable here */
/* Put all you scss file on scss diectory */
/* Sidemenu Styling */
/* Side menu */
div.side-menu {
  height: 100vh;
  width: 101%;
  background-color: #444; }

div.side-menu a,
div.side-menu div {
  background-color: #444;
  border: none;
  color: #fefefe; }

div#divider {
  background-color: #666666; }

i.sm-icon-ionic {
  font-size: 28px;
  vertical-align: middle; }

i.sm-icon-glyph {
  font-size: 24px;
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: middle; }

.title-menu {
  font-size: 18px;
  font-weight: bold; }

div.left-container {
  float: left;
  width: 17.5%; }

div.right-container {
  float: right;
  width: 82.4%; }

div.expander {
  height: 100%; }

a.list-group-item,
div.list-group-item {
  border-radius: 0 !important; }

/* General styling */
/* Roboto Font */
@font-face {
  font-family: 'Roboto Regular';
  src: url("../font/Roboto-Regular.ttf") format("truetype"); }

/* Custom Font Icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("../font/icomoon.ttf") format("truetype"), url("../font/icomoon.svg") format("svg"); }

/* Body Html */
body,
html {
  font-family: 'Roboto Regular' !important;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased !important; }

/* Bar Property */
div.bar {
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fefefe;
  font-size: 18px;
  padding-top: 8px; }

/* Bar color */
div.bar-blue {
  background-color: #3A7EF3; }

.bar-right {
  float: right;
  padding-right: 8px;
  color: #fefefe;
  cursor: default; }

a.bar-right {
  text-decoration: none !important; }

a.bar-right:hover {
  color: #f1f1f1 !important; }

/* Container adoptive height */
.container-fluid {
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important; }

/* Main container for sidemenu */
div.main-container {
  width: 100vw; }

input {
  color: #545454 !important;
  padding: 5px; }

/* Custom List Item */
.list-item {
  border-bottom: .5px solid #ddd !important;
  display: block;
  padding: 10px 15px;
  margin-bottom: 1px;
  background-color: #fff; }

/* Custom Icomoon Icons */
.icon {
  font-size: 90px !important;
  font-style: normal;
  color: #444; }

.icon-wallet:before {
  font-family: 'icomoon' !important;
  content: "\e903"; }

.icon-cash_register:before {
  font-family: 'icomoon' !important;
  content: "\e90c"; }

.btn-animate-click {
  color: #3A7EF3; }

/* Remove user selection */
.dont-touch {
  user-select: none; }

/* Backdrop */
.custom-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: wait; }

/* Dashboard Styling */
img.home-logo {
  margin-top: 10%; }

button.btn-circle,
button.btn-xl {
  width: 160px;
  height: 160px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50%;
  background: #fefefe;
  border: 7px solid #444; }

i.fa-icon {
  color: #444;
  font-size: 3.3em; }

.btn-dash {
  outline-style: none !important;
  box-shadow: none !important;
  opacity: 0.5;
  background-color: #666666 !important; }

button.btn-circle:focus {
  outline-style: none !important;
  box-shadow: none !important; }

div.dashboard-icon {
  width: 25% !important; }

div.dashboard-label {
  padding-top: 20px;
  font-size: 19px;
  color: #444; }

div.dashboard-menu {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 100px; }

i.dash-icon {
  font-size: 110px;
  color: #444; }

.row-4 {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  vertical-align: middle; }

/* Settings Styling */
div.settings-header {
  border: none;
  height: 70px;
  background-color: #f1f1f1; }

.g-label {
  color: #545454;
  font-size: 16px;
  padding-left: 10px; }

.s-label {
  color: #545454;
  float: left;
  width: 200px; }

.s-label-input {
  width: 75%;
  font-size: 16px;
  border: 1px solid; }

.m-icon-ionic {
  font-size: 40px;
  vertical-align: middle; }

.border-less {
  border: none !important; }

span.secs {
  font-size: 13px;
  color: #545454;
  font-style: italic;
  float: right; }

.dload {
  color: lightgray;
  font-size: 24px !important;
  float: right; }

.active-menu {
  color: #444 !important;
  background-color: #fefefe !important; }

/* Intial Setup Styling */
div.api-container {
  vertical-align: middle;
  border: 1px solid lightgray;
  width: 505px;
  height: 70px;
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
  vertical-align: middle; }

input.input-api {
  border: 0px;
  width: 98%; }

.api-label {
  padding-left: 4px;
  padding-bottom: 3px;
  color: #666666; }

.btn-bar-blue-api {
  background-color: #3A7EF3;
  color: #fefefe;
  border: none;
  height: 40px;
  width: 505px;
  border-radius: 2px;
  margin-top: 10px; }

.container {
  margin-top: 15%; }

.initial-alert {
  width: 505px;
  margin: auto;
  margin-top: 50px; }

.store-select {
  border: none;
  width: 482px;
  height: 41px;
  background: #fff;
  font-size: 15px; }

.store-container {
  vertical-align: middle;
  border: 1px solid lightgray;
  width: 505px;
  height: 58px;
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
  vertical-align: middle; }
