/* Import here all scss files */


/* Put your scss variable here */

$bar-blue:#3A7EF3 !default;
$dark: #444 !default;
$light-dark: #666666 !default;
$light: #fefefe !default;
$label-header:#f1f1f1! default;
$label-header-color:#545454 !default;
$input-color:#545454;

/* Put all you scss file on scss diectory */

@import 'sidemenu.scss',
'general.scss',
'dashboard.scss',
'settings.scss'