/* Import here all scss files */


/* Put your scss variable here */

$dark: #434343 !default;
$light-dark: #666666 !default;
$light: #fefefe !default;
$label-header:#f1f1f1! default;
$label-header-color:#545454 !default;

/* Put all you scss file on scss diectory */

@import 'sidemenu.scss',
'general.scss',
'dashboard.scss',
'settings.scss'