/* General styling */


/* Roboto Font */

@font-face {
    font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf')format('truetype');
}


/* Custom Font Icomoon */

@font-face {
    font-family: 'icomoon';
    src: url("../font/icomoon.ttf") format("truetype"), url("../font/icomoon.svg") format("svg");
}


/* Body Html */

body,
html {
    font-family: 'Roboto Regular' !important;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased !important;
}


/* Bar Property */

div.bar {
    width: 100%;
    height: 40px;
    text-align: center;
    color: $light;
    font-size: 18px;
    padding-top: 8px;
}


/* Bar color */

div.bar-blue {
    background-color: $bar-blue;
}

.bar-right {
    float: right;
    padding-right: 8px;
    color: $light;
    cursor: default;
}

a.bar-right {
    text-decoration: none !important;
}

a.bar-right:hover {
    color: $label-header !important;
}


/* Container adoptive height */

.container-fluid {
    height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* Main container for sidemenu */

div.main-container {
    // display: table;
    width: 100vw;
}

input {
    color: $input-color !important;
    padding: 5px;
}


/* Custom List Item */

.list-item {
    border-bottom: .5px solid #ddd !important;
    display: block;
    padding: 10px 15px;
    margin-bottom: 1px;
    background-color: #fff;
}


/* Custom Icomoon Icons */

.icon {
    font-size: 90px !important;
    font-style: normal;
    color: $dark;
}

.icon-wallet:before {
    font-family: 'icomoon' !important;
    content: "\e903";
}

.icon-cash_register:before {
    font-family: 'icomoon' !important;
    content: "\e90c";
}

.btn-animate-click {
    color: $bar-blue;
}


/* Remove user selection */

.dont-touch {
    user-select: none;
}