/* Inventory Styling */

.inventory-row {
    margin-left: 12%;
}

.inventory-sticky-header {
    background-color: $table-header;
}

.inventory-sticky-header div {
    display: inline-block;
    width: 90px !important;
    height: 45px;
    padding-top: 13px;
    text-align: center;
}

.save-actual {
    font-size: 30px;
    position: absolute;
    margin-top: -8px;
    margin-left: -40px;
}

.inventory-actual td {
    width: 279px !important;
}

.inventory-actual td input {
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 4px;
    background-color: $bg-gray;
}

.date-filter {
    height: 45px;
    background-color: $dark;
}

.filter-right {
    color: $light;
    font-size: 32px;
    float: right;
    padding-right: 8px;
}

.filter-left {
    color: $light;
    font-size: 32px;
    float: left;
    padding-left: 8px;
}