/* Settings Styling */

div.settings-header {
    border: none;
    height: 70px;
    background-color: $label-header;
}

.g-label {
    color: $label-header-color;
    font-size: 16px;
    padding-left: 10px;
}

.s-label {
    color: $input-color;
    float: left;
    width: 200px;
}

.s-label-input {
    width: 75%;
    font-size: 16px;
    border: 1px solid;
}

.m-icon-ionic {
    font-size: 40px;
    vertical-align: middle;
}

.border-less {
    border: none !important;
}

span.secs {
    font-size: 13px;
    color: $label-header-color;
    font-style: italic;
    float: right;
}

.dload {
    color: lightgray;
    font-size: 24px !important;
    float: right;
}