/* Sidemenu Styling */


/* Side menu */

div.side-menu {
    height: 100vh;
    width: 101%;
    background-color: $dark;
}

div.side-menu a,
div.side-menu div {
    background-color: $dark;
    border: none;
    color: $light;
}

div#divider {
    background-color: $light-dark;
}

i.sm-icon-ionic {
    font-size: 28px;
    vertical-align: middle;
}

i.sm-icon-glyph {
    font-size: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: middle;
}

.title-menu {
    font-size: 18px;
    font-weight: bold;
}

div.left-container {
    float: left;
    width: 17.5%;
}

div.right-container {
    float: right;
    width: 82.4%;
}

div.expander {
    height: 100%
}

a.list-group-item,
div.list-group-item {
    border-radius: 0 !important;
}

a.list-group-item:hover {
    background-color: $bar-blue !important;
    color: #FFFFFF !important;
}