/* Sync Styling*/

.sync-header {
    border: none;
    height: 40px;
    background-color: $label-header;
}

.sync-left {
    padding-top: 5px;
    padding-left: 12px;
    color: $input-color;
    font-size: 16px;
}

.sync-btn {
    color: $input-color;
    position: relative;
    float: right;
    background: transparent;
    border: none;
    margin-top: -7px;
}

.rotate {
    opacity: 0.5;
}


/* 
use this class for rotating image
-webkit-animation: rotating 2s linear infinite; 
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}
*/

.sync-icon {
    font-size: 24px;
}

.sync-list {
    height: 53px;
}

.total-sync {
    float: right;
    font-size: 13px;
}

.disable-sync {
    opacity: 0.5;
}