/* Sync Styling*/

.sync-header {
    border: none;
    height: 40px;
    background-color: $label-header;
}

.sync-left {
    padding-top: 5px;
    padding-left: 12px;
    color: $input-color;
    font-size: 16px;
}

.sync-btn {
    color: $input-color;
    position: relative;
    float: right;
    background: $light;
    border: none;
    margin-top: -7px;
}

.rotate {
    -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.sync-icon {
    font-size: 24px;
}

.sync-list {
    height: 53px;
}

.total-sync {
    float: right;
    font-size: 13px;
}