/* Warehouse Styling */

.warehouse-records table td {
    text-align: center;
    border-bottom: 1px solid lightgray;
    width: 277px;
    height: 51px;
    padding-top: 16px !important;
}

.warehouse-records table td:nth-child(3) {
    color: $bar-blue;
}

.save-wo {
    font-size: 30px;
    position: absolute;
    margin-top: -8px;
    margin-left: -40px;
}

.wo-category {
    height: 650px;
    width: 214px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 2px;
    padding-bottom: 100px;
}

.wo-item {
    height: 650px;
    width: 574px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.wo-order {
    width: 337.2px;
    height: 650px;
}

.wo-item,
.wo-category,
.wo-order {
    float: left;
}

.wo-category button {
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 2px;
    color: #FFFFFF;
    background-color: $dark;
    border: none;
}

.wo-item div {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 0px 0px lightgray;
    width: 175px;
    height: 80px;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    text-align: center;
    padding-top: 28px;
}

.wo-info-header {
    background-color: $dark;
    color: #FFFFFF;
    height: 80px;
}

.wo-info-header .wo-label {
    float: left;
    padding-left: 7px;
    width: 162px;
    padding-top: 8px;
}

.wo-info-header .wo-info {
    float: right;
    text-align: right;
    width: 162px;
    padding-right: 7px;
    padding-top: 8px;
}

.wo-item-header div {
    width: 168px;
    float: left;
    height: 40px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding-top: 10px;
}

.wo-selected {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 528px;
    margin-top: 40px;
}

.wo-selected table tr td {
    border-bottom: 1px solid lightgray;
    width: 148.2px;
    height: 47px;
    padding-top: 14px;
    float: left;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wo-selected table tr td:first-child {
    width: 30px;
    button {
        border: none;
        margin-left: -14px;
        background-color: #FFFFFF;
        color: $assertive;
        font-size: 22px;
        margin-top: -8px;
        position: absolute;
    }
    button:active {
        opacity: 0.5;
    }
}

.wo-selected table tr td:nth-child(2) {
    text-align: left;
    padding-left: 30px;
}

.wr-filter {
    font-size: 25px !important;
    margin-left: -75px !important;
}

.wr-table {
    padding-bottom: 100px;
}

.transaction-btn:hover {
    cursor: pointer;
}

.modal .warehouse-item {
    .modal-header {
        border: none;
        height: 55px;
        color: #FFFFFF;
        text-align: left;
        font-size: 20px;
        button {
            background-color: transparent;
            font-size: 28px;
            padding-right: 10px;
            margin-top: -20px;
        }
    }
    .modal-body {
        padding: 0px !important;
        .header {
            font-size: 15px;
            padding: 15px;
            height: 140px;
            background-color: $dark;
            color: #FFFFFF;
            .detail {
                margin-top: 10px;
                width: 282px;
                float: left;
                div {
                    width: 115px;
                }
            }
        }
    }
}