<!-- Inventory Waste View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory Waste
    </div>
    <div class="inventory-waste container-fluid">
        <div class="waste-menu">

        </div>
        <div class="waste-item">

        </div>
        <div class="waste-info">
            <div class="waste-info-header">
                <div class="header">USER<br/>DATE</div>
                <div class="data">Chael Gutierrez<br/>09/24/2017</div>
            </div>
        </div>
    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="inventory-records">
            <i class="ion-clipboard tab-icon-ion"></i>
            <div class="tab-label">Records</div>
        </div>
        <div class="tab" ui-sref="inventory-waste">
            <i class="ion-minus-circled tab-icon-ion"></i>
            <div class="tab-label">Waste</div>
        </div>
        <div class="tab" ui-sref="inventory-actual">
            <i class="fa fa-balance-scale tab-icon-fa"></i>
            <div class="tab-label">Actual Count</div>
        </div>
    </div>
</div>