<!-- Inventory Records View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory
    </div>
    <div class="date-filter">
        <i class="ion-chevron-left filter-left button"></i>
        <span class="button" ng-click="calendarPopup()">{{ inventoryRecordsSelectedDate | date: 'LLLL dd, yyyy - EEEE'}}</span>
        <i class="ion-chevron-right filter-right button"></i>
    </div>
    <div class="inventory-sticky-header">
        <div>Category</div>
        <div>Item</div>
        <div>Beginning</div>
        <div>Delivery</div>
        <div>Pull-out</div>
        <div>Trans-In</div>
        <div>Trans-Out</div>
        <div>Sales</div>
        <div>Wastage</div>
        <div>Ending</div>
        <div>Actual</div>
        <div>UOM</div>
    </div>
    <div class="schedule container-fluid" style="overflow-y:scroll !important;height: 81%;">
        <table class="table">
            <tbody>
                <tr ng-repeat="x in inventory_records">
                    <td>{{ x.category }}</td>
                    <td>{{ x.item }}</td>
                    <td>{{ x.beginning }}</td>
                    <td>{{ x.delivery }}</td>
                    <td>{{ x.pullout }}</td>
                    <td>{{ x.transin }}</td>
                    <td>{{ x.transout }}</td>
                    <td>{{ x.sales }}</td>
                    <td>{{ x.wastage }}</td>
                    <td>{{ x.beginning }}</td>
                    <td>{{ x.actual }}</td>
                    <td>{{ x.uom }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="inventory-records">
            <i class="ion-clipboard tab-icon-ion"></i>
            <div class="tab-label">Records</div>
        </div>
        <div class="tab">
            <i class="ion-minus-circled tab-icon-ion"></i>
            <div class="tab-label">Waste</div>
        </div>
        <div class="tab" ui-sref="inventory-actual">
            <i class="fa fa-balance-scale tab-icon-fa"></i>
            <div class="tab-label">Actual Count</div>
        </div>
    </div>
</div>