<!-- Inventory Records View  -->

<div class="container-fluid inventory-actual">
    <div class="bar bar-blue">
        Inventory Actual
        <button class="bar-right button" ng-click="save_inventory_actual()"><i class="ion-archive save-actual"></i></button>
    </div>
    <div class="sticky-header">
        <div>Category</div>
        <div>Item</div>
        <div>Actual</div>
        <div>UOM</div>
    </div>
    <div class="schedule container-fluid" style="overflow-y:scroll !important;height: 81%;">
        <table class="table">
            <tbody>
                <tr ng-repeat="x in inventory_actual">
                    <td>{{ x.category }}</td>
                    <td>{{ x.item }}</td>
                    <td><input type="text" ng-model="x.qty" valid-number/></td>
                    <td>{{ x.uom }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="inventory-records">
            <i class="ion-clipboard tab-icon-ion"></i>
            <div class="tab-label">Records</div>
        </div>
        <div class="tab">
            <i class="ion-minus-circled tab-icon-ion"></i>
            <div class="tab-label">Waste</div>
        </div>
        <div class="tab" ui-sref="inventory-actual">
            <i class="fa fa-balance-scale tab-icon-fa"></i>
            <div class="tab-label">Actual Count</div>
        </div>
    </div>
</div>