<!-- Inventory Waste View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory Waste
    </div>
    <div class="schedule container-fluid" style="overflow-y:scroll !important;height: 81%;">

    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="inventory-records">
            <i class="ion-clipboard tab-icon-ion"></i>
            <div class="tab-label">Records</div>
        </div>
        <div class="tab" ui-sref="inventory-waste">
            <i class="ion-minus-circled tab-icon-ion"></i>
            <div class="tab-label">Waste</div>
        </div>
        <div class="tab" ui-sref="inventory-actual">
            <i class="fa fa-balance-scale tab-icon-fa"></i>
            <div class="tab-label">Actual Count</div>
        </div>
    </div>
</div>