<!-- Inventory Records View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory
        <button class="bar-right button"><i class="ion-archive save-actual"></i></button>
    </div>
    <div class="sticky-header">
        <div>Category</div>
        <div>Item</div>
        <div>Actual</div>
        <div>UOM</div>
    </div>
    <div class="schedule container-fluid" style="overflow-y:scroll !important;height: 50px;">
        <table class="table">
            <tbody>
                <tr>
                    <!-- contains all the data queried-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="inventory-records">
            <i class="ion-clipboard tab-icon-ion"></i>
            <div class="tab-label">Records</div>
        </div>
        <div class="tab">
            <i class="ion-minus-circled tab-icon-ion"></i>
            <div class="tab-label">Waste</div>
        </div>
        <div class="tab" ui-sref="inventory-actual">
            <i class="fa fa-balance-scale tab-icon-fa"></i>
            <div class="tab-label">Actual Count</div>
        </div>
    </div>
</div>