<!-- Inventory-Management View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory Management
    </div>
    <div class="text-center vertical-align">
        <main-logo></main-logo>
        <div class="dashboard-menu row">
            <div class="row-icon inventory-row dashboard-icon">
                <button type="button" class="btn btn-circle btn-xl"><i class="dash-icon ion-clipboard" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Inventory</div>
            </div>
            <div class="row-icon dashboard-icon">
                <button type="button" class="btn btn-circle btn-xl"><i class="dash-icon ion-bag" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Warehouse</div>
            </div>
            <div class="row-icon dashboard-icon">
                <button type="button" class="btn btn-circle btn-xl"><i class="dash-icon ion-arrow-swap" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Store Transfer</div>
            </div>
        </div>
    </div>
</div>