<!-- Inventory Waste View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Inventory Waste
        <button class="bar-right button" ng-click=""><i class="ion-archive save-actual"></i><span>Save</span></button>
    </div>
    <div class="inventory-waste container-fluid">
        <div class="waste-menu">
            <button class="category" ng-repeat="x in category" ng-click="filterByCategory(x)">{{ x }}</button>
        </div>
        <div class="waste-item">
            <div ng-repeat="x in inventory_display" ng-click="addItem(x)">{{ x.name }}</div>
        </div>
        <div class="waste-info">
            <div class="waste-info-header">
                <div class="header">USER<br/>DATE</div>
                <div class="data">{{ user.name }}<br/>{{ datenow }}</div>
            </div>
            <div class="item-header">
                <div>ITEM</div>
                <div>QTY</div>
                <div>REASON</div>
            </div>
            <div class="waste-table-container">
                <table class="waste-item-table">
                    <tbody>
                        <tr ng-repeat="x in inventory_item" ng-if="x.qty">
                            <td>{{ x.name }}</td>
                            <td>{{ x.qty }}</td>
                            <td>Reason</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class=" bar-tab bar-blue ">
        <div class="tab " ui-sref="inventory-records ">
            <i class="ion-clipboard tab-icon-ion "></i>
            <div class="tab-label ">Records</div>
        </div>
        <div class="tab " ui-sref="inventory-waste ">
            <i class="ion-minus-circled tab-icon-ion "></i>
            <div class="tab-label ">Waste</div>
        </div>
        <div class="tab " ui-sref="inventory-actual ">
            <i class="fa fa-balance-scale tab-icon-fa "></i>
            <div class="tab-label ">Actual Count</div>
        </div>
    </div>
</div>