<!--Inital Setup Template  -->

<div class="container-fluid setup">
    <!--Form 1  -->
    <div class="container text-center vertical-center" ng-show="form1">
        <h1>BMS</h1>
        <div class="api-container center-block">
            <div class="api-label">Server-side API URL</div>
            <input type="text" class="input-api" ng-model="api" placeholder="http://bms.com/api" />
        </div>
        <button class="btn-bar-blue-api" ng-click="validateURL()"> Verify API URL </button>
    </div>

    <!--Form 2  -->
    <div class="container text-center vertical-center" ng-show="form2">
        <h1>BMS</h1>
        <div class="api-container center-block">
            <div class="api-label">API Key</div>
            <input type="text" class="input-api" ng-model="key" placeholder="MpRyaKpTaW7dwxT1sAiyoXiL" />
        </div>
        <button class="btn-bar-blue-api" ng-click="validateKey()"> Verify API key </button>
    </div>

    <!--Form 3  -->
    <div class="container text-center vertical-center" ng-show="form3">
        <h1>BMS</h1>
        <div class="store-container center-block">
            <select ng-model="selectedStore" ng-options="x.store_name for x in storelist" class="store-select">
                <option value="">Select Store</option>
            </select>
        </div>
        <button class="btn-bar-blue-api" ng-click="saveStore()"> Get Started </button>
    </div>

</div>