<!-- Attendance View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Attendance
    </div>
    <div class="text-center vertical-align">
        Attendance Views
    </div>
    <div class="bar-tab bar-blue">
        <a class="tab">
            <i class="ion-person tab-icon-ion"></i>
            <div class="tab-label">Attendance</div </div>
        </a>
        <a class="tab">
            <i class="fa fa-calendar tab-icon-fa"></i>
            <div class="tab-label">Schedule</div </div>
        </a>
    </div>
</div>