<!-- Attendance View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Attendance
    </div>
    <div class="text-center vertical-align">
        <div>
            <div class="a-left">
                <div class="clock-container">
                    <ds-widget-clock show-digital digital-format="'MMMM dd, yyyy'"></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format="'EEEE'" class="attendance-day"></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format="'hh'" class="display-time"></ds-widget-clock>
                    <div class="ds-seperator">:</div>
                    <ds-widget-clock show-digital digital-format=" 'mm' " class="display-time "></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format=" 'a ' " class="display-time "></ds-widget-clock>
                </div>
            </div>
            <div class="a-right">
                <div class="attendance-form">
                    <button class="btn btn-lg btn-block take-picture-btn" ng-click="takePhoto()" ng-class="{'empty-photo': photo_class}"><i class="ion-camera take-picture"></i><span>TAKE PICTURE </span></button>
                    <div class="attendance-field" ng-class="{'empty-form': user_class}">
                        <div class="input-label"><i class="ion-alert-circled warning" ng-if="user_class"> </i>Username</div>
                        <input type="text" placeholder="Username" ng-model="username" />
                    </div>
                    <div class="attendance-field field-eid" ng-class="{'empty-form': eid_class}">
                        <div class="input-label"><i class="ion-alert-circled warning" ng-if="eid_class"> </i>Employee ID Number</div>
                        <input type="text" placeholder="Employee ID Number" ng-model="employee_id" />
                    </div>
                    <div class="time-btn-container">
                        <button class="btn btn-lg timein" ng-click="timein()">TIME IN</button>
                        <button class="btn btn-lg timeout">TIME OUT</button>
                    </div>
                    <div class="time-btn-container">
                        <button class="btn btn-lg breakout" ng-click="breakout()">BREAK OUT</button>
                        <button class="btn btn-lg breakin" ng-click="breakin()">BREAK IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bar-tab bar-blue">
        <div class="tab" ui-sref="attendance">
            <i class="ion-person tab-icon-ion"></i>
            <div class="tab-label">Attendance</div>
        </div>
        <div class="tab" ui-sref="schedule">
            <i class="fa fa-calendar tab-icon-fa"></i>
            <div class="tab-label">Schedule</div>
        </div>
    </div>
</div>