<!-- Attendance View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Attendance
    </div>
    <div class="text-center vertical-align">
        <div>
            <div class="a-left">
                <div class="clock-container">
                    <ds-widget-clock show-digital digital-format="'MMMM dd, yyyy'"></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format="'EEEE'"></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format="'hh'" class="display-time"></ds-widget-clock>
                    <div style="display:inline-block;margin-top: 15px;">:</div>
                    <ds-widget-clock show-digital digital-format=" 'mm' " class="display-time "></ds-widget-clock>
                    <ds-widget-clock show-digital digital-format=" 'a ' " class="display-time "></ds-widget-clock>
                </div>
            </div>
            <div class="a-right ">
                Attendance section
            </div>
        </div>
    </div>
    <div class="bar-tab bar-blue ">
        <a class="tab ">
            <i class="ion-person tab-icon-ion "></i>
            <div class="tab-label ">Attendance</div </div>
        </a>
        <a class="tab ">
            <i class="fa fa-calendar tab-icon-fa "></i>
            <div class="tab-label ">Schedule</div </div>
        </a>
    </div>
</div>