<!-- Employee-Management View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Employee Management
    </div>
    <div class="text-center vertical-align">
        <main-logo></main-logo>
        <div class="dashboard-menu row">
            <div class="row-icon employee-row dashboard-icon" ui-sref="attendance">
                <button type="button" class="btn btn-circle btn-xl"><i class=" dash-icon ion-ios-person" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Attendance</div>
            </div>
            <div class="row-icon dashboard-icon" ui-sref="schedule">
                <button type="button" class="btn btn-circle btn-xl"><i class="fa fa-calendar fa-icon" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Schedule</div>
            </div>
        </div>
    </div>
</div>