<!-- Schedule View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Schedule
    </div>

    <div class="bar-tab bar-blue">
        <a class="tab">
            <i class="ion-person tab-icon-ion" ui-sref="attendance"></i>
            <div class="tab-label">Attendance</div </div>
        </a>
        <a class="tab">
            <i class="fa fa-calendar tab-icon-fa" ui-sref="schedule"></i>
            <div class="tab-label">Schedule</div </div>
        </a>
    </div>
</div>