<!--  Warehouse records item  -->

<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content warehouse-item">
            <div class="modal-header">
                <button class="button" ng-click="closeSummary()">
                    <i class="ion-arrow-left-c"></i>
                </button>Transaction Summary
            </div>
            <div class="modal-body">
                <div class="header">
                    <div class="detail">
                        <div>Date</div>: {{ data.created | date: 'LLLL dd, yyyy' }}
                    </div>
                    <div class="detail ellipser" title="{{ data.transaction_number }}">
                        <div>Transaction #</div>: {{ data.transaction_number }}
                    </div>
                    <div class="detail capitalize">
                        <div>Transaction Type</div>: {{ data.type | remove_ }}
                    </div>
                    <div class="detail">
                        <div>Status</div>: {{ data.status }}
                    </div>
                    <div class="detail">
                        <div>Requestor</div>: {{ data.name }}
                    </div>
                </div>
                <div class="item-header">
                    <div ng-class="{'no-approved-qty-header': hideApprovedQty }">Item</div>
                    <div ng-class="{'no-approved-qty-header': hideApprovedQty }">Quantity</div>
                    <div ng-hide="hideApprovedQty">Approved</div>
                    <div ng-class="{'no-approved-qty-header': hideApprovedQty }">UOM</div>
                </div>
                <div class="item-content">
                    <div class="items" ng-repeat="y in data.items">
                        <div class="ellipser" ng-class="{'no-approved-qty': hideApprovedQty }">{{ y.item }}</div>
                        <div class="ellipser" ng-class="{'no-approved-qty': hideApprovedQty }">{{ y.quantity }}</div>
                        <div class="ellipser" ng-hide="hideApprovedQty">{{ y.approved_quantity }}</div>
                        <div class="ellipser" ng-class="{'no-approved-qty': hideApprovedQty }">{{ y.uom }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>