<!--  Warehouse records item  -->

<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content warehouse-item">
            <div class="modal-header">
                <button class="button" ng-click="closeSummary()">
                    <i class="ion-arrow-left-c"></i>
                </button>Transaction Summary
            </div>
            <div class="modal-body">
                <div class="header">
                    <div class="detail">
                        <div>Date</div>
                    </div>
                    <div class="detail">
                        <div>Transaction #</div>
                    </div>
                    <div class="detail">
                        <div>Transction Type</div>
                    </div>
                    <div class="detail">
                        <div>Status</div>
                    </div>
                    <div class="detail">
                        <div>Requestor</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>