<!-- Warehouse Delivery View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Warehouse Delivery
        <button class="bar-right button" ng-click=""><i class="ion-archive save-wo"></i><span>Save</span></button>
    </div>
    <div class="warehouse-delivery container-fluid">
        <div class="wd-search-bar">
            <div class="order-no"> Order Warehouse #<input type="text"> <button class="button"><i class="ion-search"></i></button></div>
            <div class="delivery-no">Warehouse Delivery # <input type="text" /></div>
        </div>
        <div class="sticky-header">
            <div>Category</div>
            <div>Item</div>
            <div>Ordered</div>
            <div>Approved by Admin</div>
            <div>Approved by Warehouse</div>
            <div>Delivered</div>
            <div>UOM</div>
        </div>
        <warehouse-tab></warehouse-tab>
    </div>
</div>