<!-- Warehouse Records View  -->

<div class="warehouse-records container-fluid">
    <div class="bar bar-blue">
        Warehouse
        <button class="bar-right button" ng-click="filterBy()"><i class="fa fa-filter wr-filter"></i><span>Filter</span></button>
    </div>
    <div class="date-filter">
        <i class="ion-chevron-left filter-left button" ng-click="previous()"></i>
        <span class="button" ng-click="calendarPopup()"> {{ warehouseRecordsSelectedDate | date: 'LLLL dd, yyyy - EEEE' }}</span>
        <i class="ion-chevron-right filter-right button" ng-click="next()"></i>
    </div>
    <div class="sticky-header">
        <div>Type of Transaction</div>
        <div>Requestor</div>
        <div>Transaction #</div>
        <div>Status</div>
    </div>
    <div class="container-fluid wr-table" style="overflow-y:scroll !important;height: 81%;">
        <table class="table">
            <tbody>
                <tr ng-repeat="x in warehouse_records">
                    <td class="capitalize">{{ x.type | remove_ }}</td>
                    <td>{{ x.name }}</td>
                    <td class="transaction-btn" ng-click="showItems(x)">{{ x.transaction_number }}</td>
                    <td>{{ x.status ? 'Approved': 'Pending' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <warehouse-tab></warehouse-tab>
</div>