<!-- Warehouse Delivery View  -->

<div class="container-fluid">
    <div class="bar bar-blue">
        Warehouse Delivery
        <button class="bar-right button" ng-click="saveDelivery()"><i class="ion-archive save-wo"></i><span>Save</span></button>
    </div>
    <div class="warehouse-delivery container-fluid">
        <div class="wd-search-bar">
            <div class="order-no"> Order Warehouse #<input type="text" ng-model="order_no" /> <button class="button" ng-click="searchTransaction()"><i class="ion-search"></i></button></div>
            <div class="delivery-no">Warehouse Delivery # <input type="text" ng-model="delivery_no" /></div>
        </div>
        <div class="sticky-header">
            <div>Category</div>
            <div>Item</div>
            <div>Ordered</div>
            <div>Approved by Warehouse</div>
            <div>Delivered</div>
            <div>UOM</div>
        </div>
        <div class="container-fluid wd-table">
            <table class="table">
                <tbody>
                    <tr ng-repeat="x in order_delivery_item">
                        <td class="truncate">{{ x.category }}</td>
                        <td class="truncate">{{ x.item }}</td>
                        <td>{{ x.quantity }}</td>
                        <td>{{ x.approved_quantity }}</td>
                        <td><input type="text" ng-model="x.delivered" valid-number/></td>
                        <td>{{ x.uom }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <warehouse-tab></warehouse-tab>
    </div>
</div>

<!-- <div>Approved by Admin</div> -->
<!-- <td>test</td> -->