<!--  Warehouse records item  -->

<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content warehouse-item">
            <div class="modal-header">
                <button class="button" ng-click="closeSummary()">
                    <i class="ion-arrow-left-c"></i>
                </button>Transaction Summary
            </div>
            <div class="modal-body">
                <div class="header">
                    <div class="detail">
                        <div>Date</div>: {{ data.created | date: 'LLLL dd, yyyy' }}
                    </div>
                    <div class="detail ellipser">
                        <div>Transaction #</div>: {{ data.transaction_number }}
                    </div>
                    <div class="detail capitalize">
                        <div>Transaction Type</div>: {{ data.type | remove_ }}
                    </div>
                    <div class="detail">
                        <div>Status</div>: {{ data.status ? 'Approved': 'Pending' }}
                    </div>
                    <div class="detail">
                        <div>Requestor</div>: {{ data.name }}
                    </div>
                </div>
                <div class="item-header">
                    <div>Item</div>
                    <div>Quantity</div>
                    <div>Approved</div>
                    <div>UOM</div>
                </div>
            </div>
        </div>
    </div>
</div>