<!-- Keypad Prompt  -->

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content number-pad">
            <input class="numpad-out" ng-model="output" />
            <div class="pads">
                <button ng-click="updateOutput('1')">1</button>
                <button ng-click="updateOutput('2')">2</button>
                <button ng-click="updateOutput('3')">3</button>
                <button ng-click="updateOutput('4')">4</button>
                <button ng-click="updateOutput('5')">5</button>
                <button ng-click="updateOutput('6')">6</button>
                <button ng-click="updateOutput('7')">7</button>
                <button ng-click="updateOutput('8')">8</button>
                <button ng-click="updateOutput('9')">9</button>
                <button ng-click="delete()">DEL</button>
                <button ng-click="updateOutput('9')">0</button>
                <button ng-click="clear()">CLEAR</button>
                <button class="numpad-cancel" ng-click="cancel()">CANCEL</button>
                <button class="numpad-ok" ng-click="ok()">OK</button>
            </div>
        </div>
    </div>
</div>