<!-- Reason Prompt  -->

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content user">
            <div class="modal-header user-prompt">
                <span class="modal-title">Select Reason</span>
            </div>
            <div class="modal-body">
                <select class="select-reason">
                    <option value="">Reason</option>
                    <option value ="{{ x }}"ng-repeat="x in reason">{{ x }}</option>
                </select>
            </div>
            <div class="modal-footer user-prompt">
                <button class="btn modal-btn cancel user-btn">Cancel</button>
                <button class="btn modal-btn submit user-btn">Select</button>
            </div>
        </div>
    </div>
</div>