<!-- Side menu template -->

<div class="side-menu list-group side-bar">
    <div class=" list-group-item">
        <center class="title-menu">Menu</center>
    </div>
    <a class="list-group-item menu-link" ui-sref="dashboard">
        <label class="side-bar-icon">
            <i class="ion-home sm-icon-ionic"></i>
        </label> Home
    </a>
    <a class="list-group-item menu-link" ui-sref="attendance">
        <label class="side-bar-icon">
            <i class="ion-ios-person-outline sm-icon-ionic attendance-icon"></i>
        </label> Attendance
    </a>
    <a class="list-group-item menu-link" ui-sref="schedule">
        <label class="side-bar-icon">
            <i class="ion-calendar sm-icon-ionic"></i>
        </label> Schedule
    </a>
    <a class="list-group-item menu-link" ui-sref="inventory-records">
        <label class="side-bar-icon">
            <i class="ion-clipboard sm-icon-ionic"></i>
        </label> Inventory
    </a>
    <a class="list-group-item menu-link">
        <label class="side-bar-icon">
        <i class="ion-bag sm-icon-ionic">
        </label></i> Warehouse
    </a>
    <a class="list-group-item menu-link">
        <label class="side-bar-icon">
        <i class="ion-arrow-swap sm-icon-ionic">
        </label></i> Store Transfer
    </a>
    <a class="list-group-item menu-link">
        <label class="side-bar-icon">
        <i class="ion-android-cart sm-icon-ionic"></i>
        </label> Sales Summary
    </a>
    <a class="list-group-item menu-link">
        <label class="side-bar-icon">
        <i class="ion-cash sm-icon-ionic"></i>
        </label> Cash Management
    </a>

    <a class="list-group-item menu-link" ui-sref="settings">
        <label class="side-bar-icon">
        <i class="ion-settings sm-icon-ionic"></i>
        </label> Settings
    </a>
    <a class="list-group-item menu-link" ui-sref="sync">
        <label class="side-bar-icon">
        <i class="ion-ios-loop-strong sm-icon-ionic"></i>
        </label> Sync
    </a>
    <a class="list-group-item menu-link">
        <label class="side-bar-icon">
        <i class="fa fa-sign-out sm-icon-ionic"></i> 
        </label> Logout
    </a>
    <div class="list-group-item expander"></div>
</div>