<!-- Side menu template -->
<div class="side-menu list-group">
	<div class="list-group-item">
		<center class="title-menu"> Menu </center>
	</div>
	<a class="list-group-item" ui-sref="dashboard"> 
		<i class="ion-home sm-icon-ionic"></i>
		Home
	</a>
	<a class="list-group-item" ui-sref="employee-home"> 
		<i class="ion-calendar sm-icon-ionic"></i>
		Employee Management 
	</a>
	<a class="list-group-item"> 
		<i class="ion-card sm-icon-ionic"></i>
		Cash Management 
	</a>
	<a class="list-group-item"> 
		<i class="ion-clipboard sm-icon-ionic"></i>
		Inventory Management 
	</a>
	<a class="list-group-item"> 
		<i class="ion-calculator sm-icon-ionic"></i>
		Commissary 
	</a>
	<a class="list-group-item"> 
		<i class="glyphicon glyphicon-transfer sm-icon-glyph"></i>
		Store Transfer 
	</a>
	<a class="list-group-item"> 
		<i class="ion-android-cart sm-icon-ionic"></i>
		Sales Transaction 
	</a>

	<div class="list-group-item" href="#" id="divider">  </div>

	<a class="list-group-item"> 
		<i class="ion-settings sm-icon-ionic"></i>
		Settings 
	</a>
	<a class="list-group-item"> 
		<i class="ion-android-sync sm-icon-ionic"></i>
		Sync 
	</a>
	<a class="list-group-item"> 
		<i class="ion-log-out sm-icon-ionic"></i>
		Logout 
	</a>
</div>