<!-- Side menu template -->
<div class="side-menu list-group">
	<div class="list-group-item" href="#">
		<center> Menu </center>
	</div>
	<a class="list-group-item" href="#"> 
		<i class="glyphicon glyphicon-home sm-icon"></i>
		Home 
	</a>
	<a class="list-group-item" href="#"> 
		<i class="glyphicon glyphicon-calendar sm-icon"></i>
		Employee Management 
	</a>
	<a class="list-group-item" href="#"> Cash Management </a>
	<a class="list-group-item" href="#"> Inventory Management </a>
	<a class="list-group-item" href="#"> Commissary </a>
	<a class="list-group-item" href="#"> Store Transfer </a>
	<a class="list-group-item" href="#"> Sales Transaction </a>
	<div class="list-group-item" href="#">  </div>
	<a class="list-group-item" href="#"> Settings </a>
	<a class="list-group-item" href="#"> Sync </a>
	<a class="list-group-item" href="#"> Logout </a>
</div>