<!-- Transaction Filter  -->

<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content transaction-type">
            <div class="modal-header">
                Filter by Transaction
            </div>
            <div class="modal-body">
                <select class="transaction-select">
                    <option>All</option>
                    <option>Order Commissary</option>
                    <option>Commissary Delivery</option>
                    <option>Pullout Request</option>
                    <option>Pullout Dispatch</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn cancel">Cancel</button>
                <button class="btn">Select</button>
            </div>
        </div>
    </div>
</div>