<!-- Transaction Filter  -->

<div class="modal fade-in">
    <div class="modal-dialog">
        <div class="modal-content transaction-type">
            <div class="modal-header">
                Filter by Transaction
            </div>
            <div class="modal-body">
                <select class="transaction-select" ng-model="transaction_type">
                    <option value="">All</option>
                    <option value="order_commissary">Order Commissary</option>
                    <option value="delivery_commissary">Commissary Delivery</option>
                    <option value="pullout_request">Pullout Request</option>
                    <option value="pullout_dispatch">Pullout Dispatch</option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn cancel" ng-click="cancel()">Cancel</button>
                <button class="btn" ng-click="select()">Select</button>
            </div>
        </div>
    </div>
</div>