<!-- Username Prompt  -->

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content user">
            <div class="modal-header user-prompt">
                <span class="modal-title">Username</span>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Enter Username" class="username-input" />
            </div>
            <div class="modal-footer user-prompt">
                <button class="btn modal-btn kill-modal cancel user-btn">Cancel</button>
                <button class="btn modal-btn submit user-btn">Submit</button>
            </div>
        </div>
    </div>
</div>