<!-- Warehouse Tabs  -->

<div class=" bar-tab bar-blue ">
    <div class="tab" ui-sref="warehouse-records">
        <i class="ion-clipboard tab-icon-ion"></i>
        <div class="tab-label">Records</div>
    </div>
    <div class="tab" ui-sref="warehouse-order">
        <i class="icon-request_in tab-icon-ion"></i>
        <div class="tab-label">Order</div>
    </div>
    <div class="tab" ui-sref="warehouse-delivery">
        <i class="icon-truck_left tab-icon-fa"></i>
        <div class="tab-label">Delivery</div>
    </div>
    <div class="tab" ui-sref="warehouse-pulloutrequest">
        <i class="icon-request_minus tab-icon-ion"></i>
        <div class="tab-label">Pullout Request</div>
    </div>
    <div class="tab" ui-sref="">
        <i class="icon-truck_right tab-icon-ion"></i>
        <div class="tab-label">Pullout Dispatch</div>
    </div>
</div>