<!-- Dashboard View -->

<div class="container-fluid">
    <div class="bar bar-blue">
        {{ store_name }}
    </div>
    <div class="text-center vertical-align">
        <main-logo></main-logo>
        <div class="dashboard-menu row">
            <div class="row-icon dashboard-icon" ui-sref="employee-home">
                <button type="button" class="btn btn-circle btn-xl"><i class=" dash-icon ion-ios-people" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Employee Management</div>
            </div>
            <div class="row-icon dashboard-icon" ui-sref="inventory-home">
                <button type="button" class="btn btn-circle btn-xl"><i class="fa fa-clipboard fa-icon" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Inventory Management</div>
            </div>
            <div class="row-icon dashboard-icon">
                <button type="button" class="btn btn-circle btn-xl"><i class="icon icon-cash_register" aria-hidden="true"></i></button>
                <br>
                <div class="dashboard-label">Cashier</div>
            </div>
            <div class="row-icon dashboard-icon">
                <button type="button" class="btn btn-circle btn-xl"><i class="icon icon-wallet" aria-hidden="true"></i>	</button>
                <br>
                <div class="dashboard-label">Cash Management</div>
            </div>
        </div>
    </div>
</div>