<!-- Settings View  -->

<div class="container-fluid">
    <div class=" bar bar-blue ">
        Settings
        <button class="bar-right button">Save</button>
    </div>
    <div class="list-group ">
        <div class="list-item settings-header ">
            <i class="ion-lock-combination m-icon-ionic "></i>
            <span class="g-label ">Lock Screen {{ data }}</span>
        </div>
        <div class="list-item ">
            <div class="s-label ">PIN</div><input type="text " class="border-less s-label-input " />
        </div>
        <div class="list-item ">
            <div class="s-label ">Idle</div><input type="text " class="border-less s-label-input " /><span class="secs ">In seconds</span>
        </div>
        <div class="list-item ">
            <div class="s-label ">Timeout</div><input type="text " class="border-less s-label-input " /><span class="secs ">In seconds</span>
        </div>
        <div class="list-item ">
            <div class="s-label ">Keep Alive</div><input type="text " class="border-less s-label-input " /><span class="secs ">In seconds</span>
        </div>
        <div class="list-item settings-header ">
            <i class="ion-ipad m-icon-ionic "></i>
            <span class="g-label ">Display</span>
        </div>
        <div class="list-item ">
            <div class="s-label ">Logo</div><input type="text " class="border-less s-label-input " placeholder="http://www.mobile-kiosk/downloads/logo.png " /><i class="fa fa-cloud-download dload "></i>
        </div>
        <div class="list-item ">
            <div class="s-label ">Lock Screen Walpaper</div>
            <input type="text " class="border-less s-label-input " placeholder="http://www.mobile-kiosk/downloads/wallpaper.png " /><i class="fa fa-cloud-download dload "></i>
        </div>
        <div class="list-item ">
            <div class="s-label ">Display Styles (CSS)</div><input type="text " class="border-less s-label-input " placeholder="http://www.mobile-kiosk/downloads/styles.css " /><i class="fa fa-cloud-download dload "></i>
        </div>
    </div>
</div>