<!-- Settings View  -->

<div class- "container-fluid">
    <div class="bar bar-blue">
        Settings
    </div>
    <div class="list-group">
        <div class="list-group-item settings-header">
            <i class="ion-lock-combination m-icon-ionic"></i>
            <span class="g-label">Lock Screen</span>
        </div>
        <div class="list-group-item">
            <div class="s-label">PIN</div><input type="text" class="border-less s-label-input" />
        </div>
        <div class="list-group-item">
            <div class="s-label">Idle</div><input type="text" class="border-less s-label-input" />
        </div>
        <div class="list-group-item">
            <div class="s-label">Timeout</div><input type="text" class="border-less s-label-input" />
        </div>
        <div class="list-group-item">
            <div class="s-label">Keep Alive</div><input type="text" class="border-less s-label-input" />
        </div>
    </div>

</div>