<!-- Sync View  -->

<!-- Fixed header for scrollable div  -->
<div class=" bar bar-blue text-center">
    Sync
</div>
<div class="container-fluid" style="overflow-y:scroll !important;">
    <div class="list-group">
        <!--Server to Device section  -->
        <div class="list-item sync-header">
            <span class="g-label ">Server to Device</span>
        </div>
        <div class="list-item sync-list">
            <div class="sync-left">Store
                <button class="button sync-btn"><i class="ion-android-sync sync-icon"></i></button>
            </div>
        </div>
        <div class="list-item sync-list">
            <div class="sync-left">Employee
                <button class="button sync-btn"><i class="ion-android-sync sync-icon"></i></button>
            </div>
        </div>
        <div class="list-item sync-list">
            <div class="sync-left">Inventory
                <button class="button sync-btn"><i class="ion-android-sync sync-icon"></i></button>
            </div>
        </div>
        <!--Server to Device section  -->
        <div class="list-item sync-header">
            <span class="g-label ">Device to Server</span>
        </div>
        <div class="list-item sync-list">
            <div class="sync-left">Attendance
                <span class="total-sync">0 items ready for sync  <sp-F></sp-F>
                <button class="button sync-btn"><i class="ion-android-sync sync-icon"></i></button>
                </span>
            </div>
        </div>
        <div class="list-item sync-list">
            <div class="sync-left">Cash Manangement
                <span class="total-sync">0 items ready for sync  <sp-F></sp-F>
                    <button class=" button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>

            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Commissary
                <span class="total-sync">0 items ready for sync  <sp-F></sp-F>
                     <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>

            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Commissary Approved Order Requests
                <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Commissary Approved Pull-out Requests
                <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Transfer
                <span class="total-sync">0 items ready for sync <sp-F></sp-F>
                    <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>

            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Transfer In Approved Requests
                <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Transfer Out Approved Requests
                <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Inventory
                <span class="total-sync">0 items ready for sync  <sp-F></sp-F>
                    <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Production
                <span class="total-sync">0 items ready for sync <sp-F></sp-F>
                    <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>
            </div>
        </div>
        <div class="list-item sync-list ">
            <div class="sync-left ">Cashier
                <span class="total-sync">0 items ready for sync  <sp-F></sp-F>
                    <button class="button sync-btn "><i class="ion-android-sync sync-icon "></i></button>
                </span>
            </div>
        </div>
        <div class="list-item sync-list "> </div>
    </div>
</div>